In [239]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
159,tt2180411,50000000,212902372,Into the Woods,Meryl Streep|Emily Blunt|James Corden|Anna Ken...,Rob Marshall,Be careful what you wish for...,In a woods filled with magic and fairy tale ch...,125,Fantasy|Comedy|Music,Walt Disney Pictures|Marc Platt Productions|Lu...,12/25/2014,5.6,2014
1593,tt0337563,37000000,96455697,13 Going On 30,Jennifer Garner|Mark Ruffalo|Judy Greer|Andy S...,Gary Winick,"For some, 13 feels like it was just yesterday....",After total humiliation at her thirteenth birt...,98,Comedy|Fantasy|Romance,Columbia Pictures|Revolution Studios|Thirteen ...,4/13/2004,6.1,2004
148,tt1587310,180000000,758410378,Maleficent,Angelina Jolie|Elle Fanning|Juno Temple|Sharlt...,Robert Stromberg,Don't believe the fairy tale.,The untold story of Disney's most iconic villa...,97,Fantasy|Adventure|Action|Family|Romance,Walt Disney Pictures|Roth Films,5/28/2014,7.0,2014
452,tt1334260,15000000,9455232,Never Let Me Go,Carey Mulligan|Andrew Garfield|Keira Knightley...,Mark Romanek,The students have everything they need. Except...,"As children, Kathy, Ruth, and Tommy spend thei...",104,Drama|Romance|Science Fiction,Fox Searchlight Pictures|DNA Films|Film4,9/15/2010,6.7,2010
522,tt0266915,90000000,347325802,Rush Hour 2,Chris Tucker|Jackie Chan|Zhang Ziyi|Roselyn SÃ...,Brett Ratner,Get ready for a second Rush!,It's vacation time for Carter as he finds hims...,90,Action|Comedy|Crime|Thriller,New Line Cinema,8/3/2001,6.5,2001

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [264]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#создаем колонку profit = revenue - budget
data['profit'] = data['revenue']- data['budget']

display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

print(answers)

# если ответили верно, можете добавить комментарий со значком "+"

In [13]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [265]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [266]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [16]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [17]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [267]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [268]:
answers['4'] = '109.658549'

# 5. Каково медианное значение длительности фильмов?

In [269]:
answers['5'] = '107.000000'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [20]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [270]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [22]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [271]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [37]:
len(data[data.profit > 0].index)

1478

In [272]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [51]:
data[(data.release_year == 2008)& (data.profit == data[data.release_year == 2008].profit.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [273]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [65]:
S = data.query('2012 <= release_year <= 2014')
S[S.profit == S.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [68]:
data[(data.release_year.between(2012,2014))& (data.profit == data[data.release_year.between(2012,2014)].profit.min())].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [274]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [99]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data_11 = data.copy() 
data_11['genres'] = data['genres'].str.split('|')# в столбце с жанрами строки в ячейках преобразуем в списки 
data_11 = data_11.explode('genres')# применяем explode к столбцу с жанрами, чтобы в каждой ячейке было по одному жанру
data_11.genres.value_counts().sort_values(ascending = False).head(10)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Name: genres, dtype: int64

In [85]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data_11['genres'] = data['genres'].str.split('|')
data_11 = data_gen.explode('genres')
data_11.groupby(by='genres').genres.count().sort_values(ascending = False).head(10)

genres
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Name: genres, dtype: int64

ВАРИАНТ 2

In [275]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [37]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
profit_12 = data[data.profit > 0].copy() # выбираем из дф фильмы с положительным профитом
profit_12.genres = profit_film.genres.str.split('|') # в столбце с жанрами строки в ячейках преобразуем в списки 
profit_12 = profit_12.explode('genres').genres # применяем explode к столбцу с жанрами, чтобы в каждой ячейке было по одному жанру
profit_12.value_counts() # в полученной серии подсчитываем количество каждого из значений (жанров)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [276]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [58]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data_13 = data[data.profit > 0].copy() # выбираем из дф фильмы с положительным профитом
data_13.director = data_13['director'].apply(lambda s: str(s).split('|')) # Разделяем строки по режисёрам
data_13 = data_13.explode('director')
data_13.groupby(by='director').profit.sum().sort_values(ascending = False).head(10)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
James Cameron        2548546718
Francis Lawrence     2476979588
Pierre Coffin        2452006832
Steven Spielberg     2449700791
Gore Verbinski       2444589605
Name: profit, dtype: int64

In [33]:
#нСчитает режисера с большим количеством фильмов
import collections as collections
count = collections.Counter()
new_data = data['director'].str.split('|')
display(new_data)
for lists in new_data:
    for word in lists:
        count[word]+=1 
count.most_common(1)

0        [Colin Trevorrow]
1          [George Miller]
2       [Robert Schwentke]
3            [J.J. Abrams]
4              [James Wan]
               ...
1884        [Bryan Singer]
1885            [Uli Edel]
1886         [Des McAnuff]
1887        [Diane Keaton]
1888        [Mary Lambert]
Name: director, Length: 1889, dtype: object

[('Steven Soderbergh', 13)]

In [277]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [59]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data_14 = data_11.copy() # Забираем уже разделенный датасет по жанрам из 11 задания
data_14 = data_14[data_14['genres'] == 'Action'] # Оставляем только фильмы в стиле Action
data_14 = data_14['director'].apply(lambda s: str(s).split('|')) # Разделяем строки по режисёрам
data_14 = data_14.explode('director')
data_14.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Alfonso CuarÃ³n       1
Michael J. Bassett    1
Barry Levinson        1
Michel Gondry         1
Wayne Kramer          1
Name: director, Length: 364, dtype: int64

In [278]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [82]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data_15 = data[(data.profit > 0) & (data.release_year == 2012) ].copy() # выбираем из дф фильмы с положительным профитом
data_15.cast = data_15['cast'].apply(lambda s: str(s).split('|')) # Разделяем строки по режисёрам
data_15 = data_15.explode('cast')
data_15.groupby(by='cast').profit.sum().sort_values(ascending = False).head(10)

cast
Chris Hemsworth        1562643990
Denis Leary            1319460639
Chris Evans            1299557910
Mark Ruffalo           1299557910
Robert Downey Jr.      1299557910
Scarlett Johansson     1299557910
Anne Hathaway          1211851057
Sacha Baron Cohen      1097110577
Ralph Fiennes          1059561013
Seann William Scott     967234366
Name: profit, dtype: int64

In [279]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [84]:
# Примечание: в фильмах, где бюджет выше среднего по данной выборке.
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data_16 = data[(data.budget > data.budget.mean())].copy() # выбираем из дф фильмы с положительным профитом
data_16 = data_16['cast'].apply(lambda s: str(s).split('|')) # Разделяем строки по режисёрам
data_16 = data_16.explode('cast')
data_16.value_counts()
# аналогично data_16.groupby(by='cast').profit.count().sort_values(ascending = False).head(10)

Matt Damon                18
Adam Sandler              17
Angelina Jolie            16
Samuel L. Jackson         15
Tom Cruise                15
                          ..
Aishwarya Rai Bachchan     1
Lois Smith                 1
Teri Hatcher               1
Will Forte                 1
Paul Sanchez               1
Name: cast, Length: 1505, dtype: int64

In [280]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [98]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data_17 = data.copy()
data_17['genres'] = data_17['genres'].str.split('|')
data_17['cast'] = data_17['cast'].apply(lambda s: str(s).split('|')) 
data_17 = data_17.explode('genres')
data_17 = data_17.explode('cast')
data_17[data_17.cast == 'Nicolas Cage'].genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Horror              1
War                 1
Romance             1
Name: genres, dtype: int64

In [281]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [112]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data_18 = data[(data.profit < 0)].copy() # выбираем из дф фильмы с положительным профитом
data_18.production_companies = data_18['production_companies'].apply(lambda s: str(s).split('|')) # Разделяем строки по компаниям
data_18 = data_18.explode('production_companies')
data_18[data_18.production_companies == 'Paramount Pictures'].sort_values(by = 'profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

In [282]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [115]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data.groupby(by='release_year').profit.sum().sort_values(ascending = False).head(10)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
Name: profit, dtype: int64

In [283]:
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [142]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']

data_20 = data.copy() # выбираем из дф фильмы с положительным профитом
data_20.production_companies = data_20['production_companies'].str.split('|') # Разделяем строки по компаниям
data_20 = data_20.explode('production_companies')
data_20 = data_20[data_20['production_companies'].str.contains('Warner Bros')]
data_20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(5)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

In [284]:
answers['20'] = 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [154]:
data_21 = data.copy()
data_21.release_date = pd.to_datetime(data_21['release_date'])
data_21['month_rel'] = data_21.release_date.dt.month # создаем столбец с месяцами
data_21['month_rel'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month_rel, dtype: int64

In [285]:
answers['21'] = 9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [171]:
data_22 = data.copy()
data_22.release_date = pd.to_datetime(data_21['release_date'])
data_22['month_rel'] = data_21.release_date.dt.month # создаем столбец с месяцами
len(data_22[data_22['month_rel'].isin([6,7,8])])

450

In [286]:
answers['22'] = 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [187]:
data_23 = data.copy()
data_23.release_date = pd.to_datetime(data_21['release_date'])
data_23['month_rel'] = data_23.release_date.dt.month # создаем столбец с месяцами
data_23 = data_23[data_23['month_rel'].isin([12,1,2])]
data_23['director'] = data_23['director'].str.split('|')
data_23 = data_23[['director','month_rel']].explode('director')
data_23.groupby('director').month_rel.count().sort_values(ascending=False).head(5)

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
Name: month_rel, dtype: int64

In [ ]:
data['month'] = data['release_date'].str.split('/').apply(lambda x: x[0])
data.director = data.director.str.split('|')
data_winter = data[['director','month']].explode('director')
data_winter = data_winter[data_winter['month'].isin(['1','2','12'])]
data_winter.groupby('director').month.count().sort_values(ascending=False).head(10)

In [287]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [263]:
data_24 = data.copy()
data_24['name_len'] = data_24.original_title.str.len() # создаем столбец с длиной имени в символах
data_24['production_companies'] = data_24['production_companies'].str.split('|')
data_24 = data_24[['production_companies','name_len']].explode('production_companies')
data_24.groupby('production_companies').name_len.mean().sort_values(ascending=False).head(5)

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Polsky Films                 46.0
Museum Canada Productions    46.0
Name: name_len, dtype: float64

In [288]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [215]:
data_25 = data.copy()

data_25['overview_len'] = data_25.overview.str.split(' ') # создаем список из названий
data_25['overview_len'] = data_25.overview_len.str.len() # заменяем список на количество элементов списка (слов)
#data_25['overview_words_length'] = data_25.overview.map(lambda x: len(x.split(' '))) # аналогично
data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25[['production_companies','overview_len']].explode('production_companies')

data_25.groupby('production_companies').overview_len.mean().sort_values(ascending=False).head(5)

production_companies
Midnight Picture Show               175.0
Heineken Branded Entertainment      161.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
Name: overview_len, dtype: float64

In [289]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [229]:
data_26 = data[['original_title','vote_average']].copy()
f = data['vote_average'].quantile(.99)
display(f)
data_26[data_26.vote_average > data['vote_average'].quantile(.99)]

#Inside Out, The Dark Knight, 12 Years a Slave +
#BloodRayne, The Adventures of Rocky & Bullwinkle -
#Batman Begins, The Lord of the Rings: The Return of the King, Upside Down -
#300, Lucky Number Slevin, Kill Bill: Vol. 1 -
#Upside Down, Inside Out, Iron Man -

7.8

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

In [290]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [262]:
#combinations(iterable, r):
    # combinations('ABCD', 2) --> AB AC AD BC BD CD
    # combinations(range(4), 3) --> 012 013 023 123

data_27 = data[['cast', 'original_title']].copy()
data_27.cast = data_27['cast'].str.split('|')
data_27.cast = data_27.cast.apply(lambda s: list(combinations(s, 2))) 
data_27 = data_27.explode('cast')
display(data_27)
data_27.cast.value_counts().sort_values(ascending = False).head(10)
#data_27.groupby('original_title').cast.count().sort_values(ascending = False).head(5)

                                    cast  original_title
0     (Chris Pratt, Bryce Dallas Howard)  Jurassic World
0             (Chris Pratt, Irrfan Khan)  Jurassic World
0       (Chris Pratt, Vincent D'Onofrio)  Jurassic World
0           (Chris Pratt, Nick Robinson)  Jurassic World
0     (Bryce Dallas Howard, Irrfan Khan)  Jurassic World
...                                  ...             ...
1888       (Lori Heuring, Nathan Bexton)    The In Crowd
1888         (Lori Heuring, Tess Harper)    The In Crowd
1888     (Matthew Settle, Nathan Bexton)    The In Crowd
1888       (Matthew Settle, Tess Harper)    The In Crowd
1888        (Nathan Bexton, Tess Harper)    The In Crowd

[18869 rows x 2 columns]

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
(Kristen Stewart, Taylor Lautner)      5
(Adam Sandler, Kevin James)            5
(Kristen Stewart, Robert Pattinson)    5
(Robert Pattinson, Taylor Lautner)     5
(Hugh Jackman, Ian McKellen)           5
Name: cast, dtype: int64

In [291]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [292]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '109.658549',
 '5': '107.000000',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [293]:
# и убедиться что ни чего не пропустил)
len(answers)

27